@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f4f4f4;
    overflow: hidden;
}

.sidebar {
    width: 230px;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
    transition: width 0.3s ease, padding 0.3s ease;
}

.sidebar:hover {
    overflow-y: auto;
}

.sidebar.collapsed {
    width: 80px;
    padding: 10px;
}

.sidebar-navigation {
    font-size: 14px;
    color: #888;
    font-weight: 500;
    margin-top: 50px;
}

.sidebar-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    margin: 5px 0;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 5px;
}

.nav-item i {
    margin-right: 10px;
    font-size: 16px;
}

.nav-item:hover,
.nav-item.active {
    background-color: #AF906A;
    color: #fff;
}

.toggle-btn {
    display: none;
    font-size: 24px;
    background-color: white;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 3px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
}

.toggle-btn:hover {
    background-color: #f0f0f0;
    border-color: #999;
}

.main-content {

}

/*========== Responsivess ==========*/

@media screen and (max-width: 768px) {
    .sidebar {
        width: 220px;
        padding: 15px;
    }

    .toggle-btn {
        display: block;
    }

    .sidebar.collapsed {
        width: 0;
        padding: 0;
    }

    .sidebar-title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .sidebar-navigation {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .nav-item {
        font-size: 12px;
        padding: 10px 12px;
    }

    .nav-item i {
        font-size: 14px;
    }

    .main-container {
        display: flex;
    }

    .main-content {

    }
}

@media screen and (max-width: 480px) {
    .sidebar {
        width: 100px;
    }

    .sidebar-title {
        font-size: 14px;
    }

    .sidebar-navigation {
        font-size: 10px;
    }

    .nav-item {
        font-size: 12px;
        padding: 8px 10px;
    }

    .nav-item i {
        font-size: 14px;
    }

    .main-content {
        
    }
}
