@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
  
body {
    background-color: #f4f4f4;
}

.navbar {
    position: fixed;
}

.main {
    margin-left: 320px;
    padding: 100px 20px 20px 20px;
}

.main > div {
    display: none;
}

.main > div.active {
    display: block;
}
