.form-contents, .form-box {
    color: black;
    display: grid;
}

.form-contents {
    row-gap: 1.75rem;
    margin-bottom: 1.5rem;
}

.form-box {
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: .75rem;
    border-bottom: 1px solid white;
}

.form-icon, .form-eye {
    color: black;
    font-size: 1.25rem;
    margin-right: 10px;
}

.form-input {
    width: 100%;
    padding-block: .8rem;
    background: none;
    border: solid 1px black;
    border-radius: 5px;
    color: black;
    position: relative;
    z-index: 1;
}

.form-box-input {
    position: relative;
    width: 100%;
}

.form-label {
    position: absolute;
    color: black;
    left: 10px;
    top: 14px;
    font-weight: 500;
    transition: top .3s, font-size .3s;
}

.form-viewoff {
    position:absolute;
    right: 0;
    top: 12px;
    z-index: 10;
    cursor: pointer;
}

.form-box:nth-child(2) input {
    padding-right: 1.8rem;
}

.form-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-check {
    margin-bottom: 1.5rem;
}

.form-forgot, .form-register {
    font-size: small;
    color: black;
}

.form-forgot:hover {
    text-decoration: underline;
}

.submit-button {
    width: 100%;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    border-radius: .5rem;
    font-size: 90%;
    font-weight: bold;
    cursor: pointer;
}

.submit-button:hover {
    transition: .5s;
    background-color: black;
    color: white;
}

.form-register {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}

.form-register a {
    font-weight: bold;
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: medium;
    cursor: pointer;
    margin-bottom: 2rem;
    color: black;
    background-color: white;
}

.form-register a:hover {
    text-decoration: none;
    transition: .5s;
    background-color: black;
    color: white;
}

.form-input:focus + .form-label {
    top: -15px;
    font-size: small;
}

.form-input:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label {
    top: -15px;
    font-size: small;
}
