.search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.search input, .search select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
