.sidebar {
    width: 320px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    margin-top: 80px;
}

.sidebar-subtitle {
    padding: 32px 32px 8px;
    color: #888;
}

.sidebar-title {
    padding: 8px 32px 32px;
}

.sidebar-nav {
    flex-grow: 1;
}

.sidebar-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav-item {
    padding: 16px 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar-nav-item i {
    margin-right: 10px;
}

.sidebar-nav-item.active, .sidebar-nav-item:hover {
    background-color: #AF906A;
    color: #fff;
}

.admin-sidebar {
    width: 320px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    margin-top: 80px;
}

.admin-sidebar-subtitle {
    padding: 32px 32px 8px;
    color: #888;
}

.admin-sidebar-title {
    padding: 8px 32px 32px;
}

.admin-sidebar-nav {
    flex-grow: 1;
}

.admin-sidebar-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-sidebar-nav-item {
    padding: 16px 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.admin-sidebar-nav-item i {
    margin-right: 10px;
}

.admin-sidebar-nav-item.active, .admin-sidebar-nav-item:hover {
    background-color: #AF906A;
    color: #fff;
}
